.ceabs-menu-list {
	width: 70px;

	.menuItem {
		height: 70px;
		border-bottom: 1px solid #f3f3f3;

		.MuiListItemText-root {
			flex: initial;
		}
	}

	.MuiList-padding {
		padding: 0;
	}

	.MuiButtonBase-root {
		padding-left: 0.7rem;

		.MuiTypography-root {
			color: #fff;

			font-size: 12px;
			font-weight: normal;
			text-decoration: none;
		}

		&.active {
			.MuiTypography-root {
				color: rgb(0, 0, 0);
				font-weight: bold;
			}

			background-color: #cccccc;
			// #2e3192,#29abe2
			// background: linear-gradient(45deg,#2e3192,transparent)
		}
	}
}
