.MuiTableCell-alignCenter {
	border-right: 1px solid #ccce;
	white-space: nowrap;
}

.MuiTableCell-body {
	border-right: 1px solid #ccce;
	text-align: center !important;
	padding: 2px 5px 0px 5px !important;
	white-space: nowrap;
}

.MuiTableCell-root {
	border-bottom: none !important;
}

